In [2]:
import pandas as pd
import numpy as np

In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_json(r"C:\Users\himan\Documents\01-Code\NLP\Sentiment_Analysis\Sarcasm_Headlines_Dataset (2).json",lines=True)

In [5]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [6]:
tokenizer = Tokenizer(num_words=10000)
tokenizer.fit_on_texts(df['headline'])
X= tokenizer.texts_to_sequences(df['headline'])
X = pad_sequences(X,maxlen=200)

In [7]:
y= df['is_sarcastic']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)